@import '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css';


.form-wrapper {
  width: 500px;
  margin: 0 auto;
}

nav {
  width: 200px;
  margin: 0 auto;
  background: #282c34;
  height: 70px;
  line-height: 70px;
}

nav ul li {

  text-align: center;
}

nav ul li a {
  font-weight: bold;
  color: white;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
}

table {
  margin-top: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
